@use '../../styles/variables.scss' as *;

.form {
  background-color: $color-primary-purple;
  padding: $spacing-xl $spacing-xxl;
  background-image: url('@/assets/bg-shorten-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  position: relative;

  input {
    padding: $spacing-xs $spacing-md;

    &::placeholder {
      color: $color-gray-400;
    }

    &:focus {
      border: none;
      outline-offset: 2px;
    }
  }

  button {
    width: 150px;
    height: 100%;
  }
}
