@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  font-size: $font-size-body;
  font-weight: $font-weight-regular;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

main {
  padding: $spacing-lg;
}
