@use '../../styles/variables.scss' as *;

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;

  &-404 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  h1 {
    font-size: 120px;
    color: $color-gray-900;
  }
}
