@use '../../styles/variables.scss' as *;

.header {
  display: flex;
  padding: $spacing-lg $spacing-xxl;

  &-menu {
    font-size: 14px;
    color: $color-gray-500;
    font-weight: $font-weight-bold;

    a {
      outline: none;

      &:hover {
        color: $color-gray-950;
        transition: color 0.4s ease-in-out;
      }
    }
  }
}

.login-btn {
  background-color: transparent;
  padding: 0 $spacing-md;
  color: $color-gray-500;

  &:hover {
    background-color: $color-primary-blue;
    color: white;
    transition:
      background-color 0.4s ease-in-out,
      color 0.4s ease-in-out;
  }
}
