@use '../../styles/variables.scss' as *;
@use 'sass:color';

.button {
  padding: 0 20px;
  background-color: $color-primary-blue;
  color: white;
  transition: filter 0.4s ease-in-out;

  &:hover {
    filter: brightness(110%)
  }
}
