@use '../../styles/variables.scss' as *;

.alert {
  position: absolute;
  bottom: -48px;
  padding: $spacing-sm $spacing-md;
  width: fit-content;

  animation: fadeIn 0.8s ease forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
